<!DOCTYPE html>
<html lang="{S_USER_LANG}">
<head>
<meta charset="{S_CONTENT_ENCODING}">
<meta name="viewport" content="width=device-width" />

<title>{PAGE_TITLE} - {SITENAME}</title>

<link href="{T_STYLESHEET_BOARD_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{T_STYLESHEET_RESPONSIVE_LINK}" rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" />

</head>

<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">
<div id="wrap">

	<div id="page-header">
		<div class="headerbar">
			<div class="inner">

			<div id="site-description">
				<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->">{SITE_LOGO_IMG}</a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
			</div>

			<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box" class="search-box search-header">
				<form action="{U_SEARCH}" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
					<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
					<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					{S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</div>
			<!-- ENDIF -->

			</div>
		</div>
	</div>

	<div id="page-body">

		<div class="panel" id="error-text">
			<h2>{NOT_FOUND_PAGE} - {NOT_FOUND_TITLE}</h2>
			<p id="signature">{NOT_FOUND_TEXT}</p>
		</div>

		<!-- IF .topicrow -->
		<div class="forumbg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{L_SEARCH_ACTIVE_TOPICS}</dt>
							<dd class="posts">{L_POSTS}</dd>
							<dd class="views">{L_VIEWS}</dd>
							<dd class="lastpost">{L_LAST_POST}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist topics">
				<!-- BEGIN topicrow -->
				<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl class="icon topic_read">
						<dt><div class="list-inner">
							<a href="{topicrow.U_TOPIC}" class="forumtitle">{topicrow.TOPIC_TITLE}</a><br />
							{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
							<span class="right-box responsive-show" style="display:none;">
								{L_POSTS}{L_COLON} <strong>{topicrow.REPLIES}</strong><br />
								{L_VIEWS}{L_COLON} <strong>{topicrow.VIEWS}</strong>
							</span>
							</div>
						</dt>
						<dd class="posts" title="{L_POSTS}{L_COLON} {topicrow.REPLIES}">{topicrow.REPLIES}</dd>
						<dd class="views" title="{L_VIEWS}{L_COLON} {topicrow.VIEWS}">{topicrow.VIEWS}</dd>
						<dd class="lastpost"><span><!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_SUBJECT}</a><br /><!-- ENDIF -->{topicrow.LAST_POST_AUTHOR} &raquo; {topicrow.LAST_POST_TIME}</span>
						</dd>
					<dl>
				</li>
				<!-- END topicrow -->
				</ul>
			</div>
		</div>
		<!-- ENDIF -->

	</div>

	<div id="page-footer">
		<div class="copyright">
			{CREDIT_LINE}
			<br />BB3.MOBi {NOT_FOUND_AUTHOR}
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		</div>
	</div>

</div>
</body>
</html>